body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C0E1D2;

}
#mainDiv{
    height: 500px;
    width: 500px;
    border: 2px solid #F6F4E8;
    border-radius: 10px;
    background-color: #F6F4E8;
    padding: 10px;

   
}

#title{
    margin: 30px;
    font-size: 50px;
}

li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 3px;
}

.taskText{
    margin-left: 10px;
}

#list{
    padding: 0;
    margin: 0;
    height: 380px;
    overflow-y: auto;
}

.dlt{
    background-color: #DC9B9B;
    border-radius: 5px;
    margin-left: auto;
}

.doneTask{
    text-decoration: line-through;
    opacity: 50%;
}

.dlt:hover{
    background-color: #FC9B9B;
    transform: scale(1.01);
}

#inputDiv{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#inputTask{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}
#inputButton{
    padding: 5px;
    border-radius: 5px;
}

#inputButton:hover{
    background-color: azure;
    transform: scale(1.01);
}